requests
aiocron==1.6
async-files==0.4
beautifulsoup4==4.9.3
httpx[http2]==0.23.0
humanize==4.3.0
langs==0.1.1
meval==2.5
pendulum==2.1.2
pyromod==1.5
python-rapidjson==1.4
PySocks==1.7.1
PyYAML==5.4.1
psutil==5.8.0
TgCrypto==1.2.2
tortoise-orm==0.17.6
telegraph==1.4.1
typing-extensions==3.10.0.0
Pyrogram==1.4.16
pytz
asyncpg
python-anilist==1.0.4
aiosqlite==0.17.0
async-timeout==3.0.1
cachetools==4.2.4
clickhouse-cityhash==1.0.2.post1
clickhouse-driver==0.2.0
mysql-connector-python==8.0.27
orjson==3.6.3
peewee==3.14.4
psycopg2-binary==2.9.3
PyMySQL==1.0.2
tqdm==4.62.2





#aiocron==1.6
#async-files==0.4
#beautifulsoup4==4.9.3
#httpx[http2]==0.23.0
#humanize==4.3.0
#langs==0.1.1
#meval==2.5
#pendulum==2.1.2
#pyromod==1.5
#python-rapidjson==1.4
#PySocks==1.7.1
#PyYAML==5.4.1
#psutil==5.8.0
#TgCrypto==1.2.2
#tortoise-orm
#tortoise-orm==0.17.6
#telegraph==1.4.1
#typing-extensions==3.10.0.0
#Pyrogram==1.4.16
#pysqlite3
#db-sqlite3
#sqlite-utils
#pytz
#asyncpg
#aiomysql
